**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Terragrunt específicos
**/.terragrunt-cache/*
.terragrunt-cache/
.terragrunt-download/
terragrunt.iml
.terraform.lock.hcl
.terraform.tfstate.lock.info
*.tfplan
